---
Checks: 'modernize-*,
         -modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: 'source/.*\.(h|hpp|cpp)$'
FormatStyle: none
CheckOptions:
  - key: modernize-loop-convert.MaxCopySize
    value: '16'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'